<%- include('./partials/header'); %>
<center>
    <Br><br>
      <h5>Job entered Successfully.</h5>
      <br>
      <a href="jobpost">Post More Job !</a>
</center>
   <%- include("./partials/footer");%>
